<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>exoticatravels.LoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IpFilter</filter-name>
        <filter-class>exoticatravels.IPFilter</filter-class>
        <init-param>
            <description>Valid IP for accessing the GetLog details servlet</description>
            <param-name>validip</param-name>
            <param-value>192.168.56.1</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <servlet-name>WelcomeServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IpFilter</filter-name>
        <servlet-name>GetLogDetails</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexPage</servlet-name>
        <servlet-class>exoticatravels.IndexPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>exoticatravels.SubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUserServlet</servlet-name>
        <servlet-class>exoticatravels.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>exoticatravels.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeCustomerServlet</servlet-name>
        <servlet-class>exoticatravels.WelcomeCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>exoticatravels.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLogDetails</servlet-name>
        <servlet-class>exoticatravels.GetLogDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationServlet</servlet-name>
        <servlet-class>exoticatravels.ValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeAdminServlet</servlet-name>
        <servlet-class>exoticatravels.WelcomeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>exoticatravels.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hotels</servlet-name>
        <servlet-class>exoticatravels.HotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourPackageServlet</servlet-name>
        <servlet-class>exoticatravels.TourPackageServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>FlightsServlet</servlet-name>
        <servlet-class>exoticatravels.FlightsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstructionServlet</servlet-name>
        <servlet-class>exoticatravels.ConstructionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexPage</servlet-name>
        <url-pattern>/IndexPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUserServlet</servlet-name>
        <url-pattern>/NewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeCustomerServlet</servlet-name>
        <url-pattern>/WelcomeCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLogDetails</servlet-name>
        <url-pattern>/GetLogDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationServlet</servlet-name>
        <url-pattern>/ValidationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeAdminServlet</servlet-name>
        <url-pattern>/WelcomeAdminServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Hotels</servlet-name>
        <url-pattern>/HotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourPackageServlet</servlet-name>
        <url-pattern>/TourPackageServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FlightsServlet</servlet-name>
        <url-pattern>/FlightsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstructionServlet</servlet-name>
        <url-pattern>/ConstructionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
